*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: rgb(221, 32, 32);
    background-color: rgb(194, 186, 192);
}
.container{
    background-color: rgb(204, 95, 17);
}