.gallery{
    width:250px;
    height: auto;
    border: 5px solid blue;
    float: left;
    padding: 20px;
  
}
img{
    width:250px;
    height: 100px;
}
.text{
    font-size: 15px;
    text-align: center;
    background-color: yellow;
}