
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',monospace;
}
ul{
    list-style: none;
    background: #8526ff;

}
ul li{
    display: inline-block;
    position: relative;

}

ul li a{
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
ul li ul.dropdown li{
display: block;

}
ul li ul.dropdown{
    width: 100%;
    background: #8526ff;
    position: absolute;
    z-index: 999;
    display: none;
    list-style: none;
    
    }
    ul li a:hover{
        background: #630E34;
    }
    ul li:hover ul.dropdown{
        display: block;

    }