*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}
h1{
    text-align: center;
}

fieldset{
    width: 70%;
    margin: auto;
    padding: 20px;
}
fieldset legend{
    text-align: center;
}
#name{
    background-color: white;
}
#country{
    background-color: white;
}
#image{
    background-color: white;
}
#terms{
    background-color: white;
}
#phone{
    background-color: white;
}
#message{
    background-color: white;
   
}
#gender{
    background-color: white;
}
#address{
    background-color: white;
}
#lastButton{
    background-color: white;
}
div.form-group{
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: white;
}

div.form-group label{
    color: black;
    width: 100px;
    display: inline-block;
    
}

div.form-group input,select,textarea{
    width: 60%;
}

div.form-group input[type=radio]{
    width: 5%;
   
}

div.form-group input[type=checkbox]{
    width: 5%;
  
    
   
}
div.form-group input[type=tel]{
    width: 60%;
 
   
}

div.form-group.btn input{
    width: 20%;
    border:none;
    padding: 5px 0;
}

div.form-group.btn input[type=submit]{
    background-color: white;
    color:rgb(21, 21, 21);
}
div.form-group.btn input[type=check-box]{
    background-color: white;
    color:rgb(21, 21, 21);
}

div.form-group.btn input[type=reset]{
    background-color:red;
    color:white;
}
div.form-group.btn input[type=submit]{
    background-color:rgb(69, 187, 122);
    color:white;
  
}
div.form-group:last-child{
    border-bottom: none;
}

div.form-group:nth-child(3n){
    background-color: aliceblue;
}

div.form-group:nth-child(3n+1){
    background-color: rgb(0, 145, 85);
}

div.form-group:nth-child(3n+2){
    background-color: rgb(244, 244, 244);
}