* {
    padding: 0;
    margin: 0;
}
div {
    text-align: center;
}
.header {
    border-bottom: 2px solid black;
    border-top:2px solid black ;
    background-color: blueviolet;
    height: 40px;
    padding-top: 20px;
   
}
.left-content {
    height: 300px;
    border-top: 0;
    width: 20%;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    background-color: rgb(54, 85, 153);
}
.main-content {
    height: 300px;
    border-top: 0;
    width: 60%;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    background-color: white;
}
.right {
    height: 300px;
    border-top: 0;
    width: 20%;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    background-color: rgb(95, 160, 118);
}
.container {
    display: flex;
}
.footer {
    height: 50px;
    border-bottom: 5px solid black ;
    background-color: rgb(49, 98, 126);
}
@media(max-width:550px) and (max-width:768px)and (max-width:1024px){
    .header{
        background-color: rgb(114, 23, 46);
    }
    body {
        padding: 0;
        margin: 0;
    }
    div {
        text-align: center;
    }
    .left-content {
        height: 25px;
        padding: 10px;
        flex-grow: 1;
        border-right: 0;
        background-color: rgb(15, 189, 61);
    
    }
    .main-content {
        padding-bottom: 400px ;
        width: 100%;
        height: 300px;
        
       
    }
    .right {
        height: 25px;
        padding: 10px;
        flex-grow: 3;
        width: 96%;
        border-right: 0;
        background-color: rgb(61, 10, 214);
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .left-content,.main-content{
        width: 100%;
    }
    .footer {
        padding-bottom: 10px;
    }
   
}