body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}
.card {
    position: relative;
    width: 350px; 
    overflow: hidden;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 500px;
    display: block;
}

.about {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    padding: 2px;
    opacity:  0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover .about {
    opacity: 1;
    transform: translateY(0%);
}

button {
    border-radius: 30px;
    height: 40px;
    width: 140px;
    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

button:hover {
    background-color: lightgray;
}