* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
}

.grid-item {
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
}

.grid-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
}

.grid-item p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

@media (max-width: 748px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-item img{
        height: 200px;
        object-fit:cover;
    }
}