*{
    background-color: #9BA8AB;
}
h1{
    text-align: center;
    font-family: cursive;
    font-size: 36px;
}
h2{
font-family: Verdana;
font-size: 28px;
}
p,ul{
    font-size:20px;
}
nav {
    background-color: #34495E;  
    padding: 15px;
    text-align:center;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
nav a:hover {
    background-color: #4A5C6A;
    color: white;
}
nav a:active {
    background-color: rgb(140, 65, 65);  
}
  .gallery {
    display: flex; /*arranges child elements in horizontal row*/
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  .gallery img {
    width: 250px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  .gallery img:hover {
    transform: scale(1.1);
  }
  label {
    display: inline-block;
    width:80px;
    font-weight:bold;
  }  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 60%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  textarea {
    resize: vertical;
  }
  
  button {
    background-color:#CCD0CF;
    color: rgb(62, 59, 59);
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 28px;
  }
  
  button:hover {
    background-color: #4A5C6A;
  }
  footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #4e5758;
}