.container{
    background-color: #e8f3ef;
    display: flex;
    flex-direction: row;
    flex-basis: 2;
    flex-grow:3;
    flex-wrap: wrap;
}

#style_disc, #style_square, #style_circle, #style_decimal, #style_decimal_zero, #style_lower_alpha{
    text-align: left;
}

#style_disc{list-style: disc;}
#style_square{list-style: square;}
#style_circle{list-style:circle;}
#style_decimal{list-style: decimal;}
#style_decimal_zero{list-style: decimal-leading-zero;}
#style_lower_alpha{list-style: lower-alpha;}
.disc,.square,.circle,.decimal,.zero,.alpha{
    background-color: #ffffff;
    position: relative;
    justify-content: space-between;
    margin: 5px;
    filter: drop-shadow(0px 1px 2px) blur(0px);
    text-align: left;
    float: left;
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex: 2 2;
}
h3{
    font-weight: bolder;
    margin: auto;
    text-align: center;
}