#rootset{
    display: flex;
    flex-direction: row;
    flex-basis: content;
    width: fit-content;
}


#ulRoot{
    list-style: disc;
    font-size: 20px;
}
#olRoot {
    list-style: upper-roman;
}
#olRoot .submenu{
    list-style: upper-alpha;
}
#olRoot .submenu .supermenu{
    list-style: lower-roman;
}