*{
    margin: 0;
    /*padding: 0;*/
}
div{
    width: 100%;
    margin: 0;
  
}
body{
    background-color: white;
 
}
h1{
    text-align: center;
}
.container div{
    text-align: center;
    width: 100px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid #aa2255;
    padding: 20px;
    height: 100px;
    background-color: bisque;

}
#example{
    float:left ;
    width: 100%;
    padding: 45px;
    border: solid 2px black;
    margin-left: 0;
    margin-bottom: 0;
    clear: left;
    height:375px ;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}